<div id="top-bar" class="top-bar--style-1">
	<div class="container">
		<a id="top-bar__logo" class="site-logo" href="index.html">
			<img src="img/logo.png" alt="Terre & Ciel Maraîchage" />
		</a>

		<a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

		<a id="top-bar__order-btn-mobile" class="custom-btn primary" href="https://app.ciboulette.net/signup/yLbWwELb7hmrtEzoj/1477691959" target="_blank">Commander</a>

		<nav id="top-bar__navigation" role="navigation">
			<ul>
				<li><a href="#home">Accueil</a></li>
				<li><a href="#about">À propos</a></li>
				<li class="li-btn-mobile">
					<a class="custom-btn primary" href="https://app.ciboulette.net/signup/yLbWwELb7hmrtEzoj/1477691959" target="_blank">Commander</a>
				</li>
				<li><a href="#contact">Contact</a></li>
				<li class="li-btn">
					<a class="custom-btn primary" href="https://app.ciboulette.net/signup/yLbWwELb7hmrtEzoj/1477691959" target="_blank">Commander</a>
				</li>
			</ul>
		</nav>
	</div>
</div>